body {
    background-color: rgb(231, 75, 83);
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top:50px;
    text-align: center;
}

.login-logo {
    padding-right: 80px;
}